<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>GPU Details</title>
</head>
<body>
<h4>GPU DETAILS</h4>
<br/>
<br/>

<a href = "/"><input type = button value = "HOME"/></a>

<a href = "/gpu"><input type = button value = "REFRESH"/></a>

<br/>
<br/>

<h5>GPU SENSORS TEMP : </h5>
<br/>

<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Value </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${gpuTemps.empty}">
        <td colspan="2"> No GPUs Available </td>
    </tr>
    <tr th:each="gpuTemps : ${gpuTemps}">
        <td><span th:text="${gpuTemps.name}"> Title </span></td>
        <td><span th:text="${gpuTemps.value}"> Author </span></td>
    </tr>
    </tbody>
</table>

<br/>
<br/>
<h5>GPU FAN SPEEDS</h5>
<br/>



<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Value </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${gpuFans.empty}">
        <td colspan="2"> No GPU Fans Available </td>
    </tr>
    <tr th:each="gpuFans : ${gpuFans}">
        <td><span th:text="${gpuFans.name}"> Title </span></td>
        <td><span th:text="${gpuFans.value}"> Author </span></td>
    </tr>
    </tbody>
</table>
<br/>
<br/>
<h5>GPU LOADS</h5>
<br/>



<table>
    <thead>
    <tr>
        <th> Name </th>
        <th> Value </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${gpuLoads.empty}">
        <td colspan="2"> No GPU Loads Data Available </td>
    </tr>
    <tr th:each="gpuLoads : ${gpuLoads}">
        <td><span th:text="${gpuLoads.name}"> Title </span></td>
        <td><span th:text="${gpuLoads.value}"> Author </span></td>
    </tr>
    </tbody>
</table>
<br/>
<br/>

</body>
</html>